<a href="https://colab.research.google.com/github/CatchGem/Market-Basket-Project-on-E-Commerce-/blob/main/Market_Basket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# lets get our hands dirty 
# supressing warnings
import warnings
warnings.filterwarnings("ignore")

In [36]:
import pandas as pd
import numpy as np

In [37]:
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_geolocation_dataset.zip'
!unzip -o "/content/olist_geolocation_dataset.zip" -d "/content/"
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_customers_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_order_items_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_order_payments_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_order_reviews_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_orders_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_products_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_sellers_dataset.csv'
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/product_category_name_translation.csv'

Archive:  /content/olist_geolocation_dataset.zip
  inflating: /content/olist_geolocation_dataset.csv

In [38]:
location = pd.read_csv("olist_geolocation_dataset.csv")
location.head(3)

   geolocation_zip_code_prefix  ...  geolocation_state
0                         1037  ...                 SP
1                         1046  ...                 SP
2                         1046  ...                 SP

[3 rows x 5 columns]

In [39]:
customer = pd.read_csv('olist_customers_dataset.csv')
customer.head(3)

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP

[3 rows x 5 columns]

In [40]:
order_item = pd.read_csv('olist_order_items_dataset.csv')
order_item.head(3)

                           order_id  order_item_id  ...  price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.9         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.9         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.0         17.87

[3 rows x 7 columns]

In [41]:
order_payment = pd.read_csv('olist_order_payments_dataset.csv')
order_payment.head(3)

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71

[3 rows x 5 columns]

In [42]:
order_review = pd.read_csv('olist_order_reviews_dataset.csv')
order_review.head(3)

                          review_id  ... review_answer_timestamp
0  7bc2406110b926393aa56f80a40eba40  ...     2018-01-18 21:46:59
1  80e641a11e56f04c1ad469d5645fdfde  ...     2018-03-11 03:05:13
2  228ce5500dc1d8e020d8d1322874b6f0  ...     2018-02-18 14:36:24

[3 rows x 7 columns]

In [43]:
orders = pd.read_csv('olist_orders_dataset.csv')
orders.head(3)

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00

[3 rows x 8 columns]

In [44]:
products = pd.read_csv('olist_products_dataset.csv')
products.head(3)

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0

[3 rows x 9 columns]

In [45]:
sellers = pd.read_csv('olist_sellers_dataset.csv')
sellers.head(3)

                          seller_id  ...  seller_state
0  3442f8959a84dea7ee197c632cb2df15  ...            SP
1  d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ

[3 rows x 4 columns]