<a href="https://colab.research.google.com/github/CatchGem/Market-Basket-Project-on-E-Commerce-/blob/main/Market_Basket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# lets get our hands dirty 
# supressing warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

In [13]:
!wget -q -nc 'https://raw.githubusercontent.com/CatchGem/Market-Basket-Project-on-E-Commerce-/main/olist_geolocation_dataset.zip'
!unzip -o "/content/olist_geolocation_dataset.zip" -d "/content/"

Archive:  /content/olist_geolocation_dataset.zip
  inflating: /content/olist_geolocation_dataset.csv

In [14]:
df_loc =pd.read_csv("olist_geolocation_dataset.csv")
df_loc

         geolocation_zip_code_prefix  ...  geolocation_state
0                               1037  ...                 SP
1                               1046  ...                 SP
2                               1046  ...                 SP
3                               1041  ...                 SP
4                               1035  ...                 SP
...                              ...  ...                ...
1000158                        99950  ...                 RS
1000159                        99900  ...                 RS
1000160                        99950  ...                 RS
1000161                        99980  ...                 RS
1000162                        99950  ...                 RS

[1000163 rows x 5 columns]